<div class="row mt-2">
  <div class="col">
    <h4>Countries</h4>

    <div *ngIf="loading" class="spinner-border" >
      <span class="sr-only">Looking for countries.... Please wait for a moment</span>
    </div>
    <ng-container *ngIf="!loading" class="col">
      <app-country
        *ngFor="let country of countries"
        [country]="country"
        class="list-group-item list-group-item-action"
        [routerLink]="[country.alpha3Code]"
        routerLinkActive="active"
      > {{ country.name }}</app-country>
    </ng-container>

  </div>
</div>
