<div class="row mt-2" *ngIf="country">
  <div class="col">
    <h4>Country details</h4>
    <img src="http://146.185.154.90:8080/restcountries/data/{{country.alpha3Code.toLowerCase()}}.svg" alt="{{ country.name }}" class="img-fluid" style="max-width: 20% "/>
    <h5>{{ country.name }}</h5>
    <h5>Capital: {{ country.capital }}</h5>
    <p>Population: <strong>{{ country.population }}</strong> </p>
    <p>Region: <strong>{{ country.region }}</strong></p>
  </div>
</div>
