<div class="container-fluid">
  <div class="row mx-md-n5">
    <div class="col px-md-5"><app-countries></app-countries></div>
    <div class="col px-md-5"><router-outlet></router-outlet></div>
  </div>

</div>
